<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>detail</key>
		<string>Three years later, Subaru debuts its second most important model of all time, which is another variant on the station-wagon/sport-utility mashup, this time shading more toward the latter. Whereas the Outback uses the body of an actual station wagon, the Impreza-based Forester receives its own sheetmetal, and cuts a taller, boxier profile than the Impreza wagon; it also offers 7.5 inches of ground clearance, enhancing its outdoorsy cred.</string>
		<key>engineSize</key>
		<string>USDM EJ25d, JDM Ej20g</string>
	</dict>
</array>
</plist>
