<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>detail</key>
		<string>With a turbocharged 2.0-liter engine boasting 217 horsepower, the rally-bred WRX surfaces in Japan, and later in Europe, and begins to develop a cult following despite being off limits in America. Soon thereafter, Subaru cranks up the output to 280 horses in creating the WRX Type R STi; again, we pine for it from afar. Instead, Americans must console themselves with the Impreza 2.5 RS, a mildly sportified version of the two-door coupe, decked out in WRX-emulating blue paint with gold wheels. Hey, it’s a start.</string>
		<key>engineSize</key>
		<string>Ej20g - Ej20k</string>
	</dict>
</array>
</plist>
