<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>detail</key>
		<string>The brand’s smaller entry, offered in coupe, sedan, and wagon body styles, arrives for 1993. The utterly unremarkable model line is introduced with hilariously off-key advertising in which obnoxious Gen-X actor Jeremy Davies likens it to punk rock. The ad campaign was later chronicled in a book, Where the Suckers Moon.</string>
		<key>engineSize</key>
		<string>Ej18 - Ej22e</string>
	</dict>
</array>
</plist>
