<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>detail</key>
		<string>The Legacy began with a 5-door wagon or 4-door sedan body styles with FWD and an optional full-time AWD package, and was introduced in North America, the UK, Germany, the Benelux region of Northern Europe, Japan and Australia (where it was called Liberty because the name Legacy conflicted with Legacy Australia) . Options included 4-channel ABS, licensed from Bosch and air suspension height control, which lowered the vehicle at speeds above 50 mph (80.5 km/h), and also allowed the driver to increase the vehicle&apos;s ground clearance for off-road conditions. It was formally released January 23, 1989 in Japan, with an introductory price of ¥2,550,000 for the turbocharged RS (approx. USD $18,800 at 1989 yen exchange rate).[3] The first Legacy was available at Japanese dealerships on February 1, 1989, with worldwide distribution starting in 1990.</string>
		<key>engineSize</key>
		<string>EJ18 - EJ20T - EJ22E - EJ22T </string>
	</dict>
</array>
</plist>
