<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>detail</key>
		<string>Subaru’s most important nameplate arrives as a trim level on the newly redesigned Legacy wagon, wearing standard two-tone paint with a gray lower section to suggest plastic body cladding. The idea is more fully fleshed out for ’96, with an increased ride height, raised roof, and large front fog lights; the Outback at that point is marketed as its own model. Given a hefty push from that famous Australian, Crocodile Dundee, sales take off. Subaru even adds an Outback sedan, but it’s the wagon that’s magic.</string>
		<key>engineSize</key>
		<string>EJ25</string>
	</dict>
</array>
</plist>
