<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>detail</key>
		<string>With the Outback and the Forester going gangbusters, Subaru takes the next logical step and introduces a three-row family vehicle, the B9 Tribeca (later just Tribeca). Developed jointly with GM (which at that time owned a minority stake in Subaru parent company Fuji Heavy Industries), the effort was also supposed to spawn a Saab variant, but it never materialized. That’s no great loss for Saab, however, as the cramped and underpowered Tribeca is a sales flop. (Saab did sell a lightly made-over version of the Impreza wagon as the 9-2X for a time, beginning in 2004.)







With the Outback and the Forester going gangbusters, Subaru takes the next logical step and introduces a three-row family vehicle, the B9 Tribeca (later just Tribeca). Developed jointly with GM (which at that time owned a minority stake in Subaru parent company Fuji Heavy Industries), the effort was also supposed to spawn a Saab variant, but it never materialized. That’s no great loss for Saab, however, as the cramped and underpowered Tribeca is a sales flop. (Saab did sell a lightly made-over version of the Impreza wagon as the 9-2X for a time, beginning in 2004.)







With the Outback and the Forester going gangbusters, Subaru takes the next logical step and introduces a three-row family vehicle, the B9 Tribeca (later just Tribeca). Developed jointly with GM (which at that time owned a minority stake in Subaru parent company Fuji Heavy Industries), the effort was also supposed to spawn a Saab variant, but it never materialized. That’s no great loss for Saab, however, as the cramped and underpowered Tribeca is a sales flop. (Saab did sell a lightly made-over version of the Impreza wagon as the 9-2X for a time, beginning in 2004.)</string>
		<key>engineSize</key>
		<string>EZ30</string>
	</dict>
</array>
</plist>
