<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>detail</key>
		<string>The BRAT is but a memory, but Subaru takes a second run at the car-based-pickup idea with the Baja. This one has four doors and doesn’t need the import-tax-evading seats in the bed, because it’s built at the company’s U.S. plant in Indiana (which is shared with Mitsubishi). Starting from a Legacy wagon, the Baja gets additional rear overhang sufficient to create a 42-inch cargo bed and visual hip waders in the form of plastic body cladding. To haul longer items, Subaru poked a hole in the back of the cab and offers a U-shaped fence that flips down onto the dropped tailgate. Clever, but the Baja lasts just four years.</string>
		<key>engineSize</key>
		<string>Ej25D - Ej255</string>
	</dict>
</array>
</plist>
