<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>detail</key>
		<string>The second-generation Impreza debuts for 2002 and finally brings the WRX version with it to America. Offered as a sedan and a wagon, the WRX is powered by a 227-hp 2.0-liter turbo that gives it “the boundless energy of a second grader stuffed with chocolate cookies,” as we said at the time. With all-wheel drive and a suspension to match, it easily earns a 10Best Cars award.</string>
		<key>engineSize</key>
		<string>USDM EJ205 JDM EJ205 - EJ207</string>
	</dict>
</array>
</plist>
