<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>detail</key>
		<string>The new STi, now bristling with 300 horsepower, launches in the U.S. market just days after its doppelgänger, the Mitsubishi Lancer Evolution, and just like that, a new class of performance hero is born. It is a class with wild body addenda, highly boosted four-cylinder engines, and all-wheel drive. Notice we said nothing about sultry sheetmetal. The STi is the poster child for function over form.</string>
		<key>engineSize</key>
		<string>EJ257</string>
	</dict>
</array>
</plist>
