<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>detail</key>
		<string>Toyota acquires GM’s interest in Subaru, and the first car the two companies develop together is the Subaru BRZ/Toyota 86/Scion FR-S. The BRZ is the first Subaru since the 360 to be rear-wheel drive. Delightful handling earns the BRZ a place on C/D’s 10Best list, despite the modest power output (200 horsepower) from the boxer four.</string>
		<key>engineSize</key>
		<string>Fa20</string>
	</dict>
</array>
</plist>
