<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>detail</key>
		<string>Redesigned in 2009, critics praised the 2010 Forester for its overall competence and surefootedness, thanks to its standard all-wheel drive. While few called it fun, most said that it has fairly good handling and is generally easy to drive. Powering the Forester is either a four-cylinder engine that makes 170 horsepower or a turbocharged variant of that engine good for 224 horsepower. </string>
		<key>engineSize</key>
		<string>Ej255</string>
	</dict>
</array>
</plist>
