<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>detail</key>
		<string>The WRX and STI have achieved cult status among driving enthusiasts and boy racers, but more than ever that image is too narrow and confining. These cars have decent room in the back seat and good cargo capacity. Their all-wheel-drive system can legitimately be considered a safety and foul-weather advantage, even if, with the powerful, turbocharged engines in the WRX, it&apos;s marketed as a performance enhancement, a role it also fills.</string>
		<key>engineSize</key>
		<string>Ej257</string>
	</dict>
</array>
</plist>
