<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>detail</key>
		<string>Bowing the same year as the BRZ, but to considerably less fanfare, is the XV Crosstrek. Little more than an Impreza hatchback with a slightly higher ride height, it’s the old Outback formula revisited. Word is that it was intended for Europe and not the United States, but U.S. dealers know a hit when they see it and lobby successfully to bring it here. The model is now Subaru’s third-biggest seller, after the Forester and Outback, and has been renamed simply “Crosstrek.”</string>
		<key>engineSize</key>
		<string>Fa20</string>
	</dict>
</array>
</plist>
