<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>detail</key>
		<string>The 2021 Subaru Ascent is a decent choice in the midsize three-row SUV class, but it&apos;s far from being a top contender, currently sitting in seventh place in Edmunds&apos; rankings. For 2021, the Ascent gets a full suite of standard safety features including adaptive cruise control, along with lane keeping assist and steering-responsive LED headlights. But even with those additions, it still falls behind the top-rated Kia Telluride, Hyundai Palisade and Honda Pilot in a number of areas. We give credit to the Ascent&apos;s long list of standard features, refined interior and easy-to-use infotainment system. Yet the positives are tempered by an oversensitive gas pedal, noticeable in-cabin noise, a somewhat restrictive third-row seat and slightly stiff ride quality.</string>
		<key>engineSize</key>
		<string>Fa24t</string>
	</dict>
</array>
</plist>
