<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>detail</key>
		<string>Even so, the driving experience is difficult to dismiss, and the BRZ possesses a beautiful simplicity and an exploitable balance that&apos;s nearly impossible to match, no matter the price. Combining that experience with everyday practicality, its small size and relatively low price, the BRZ continues to make a compelling argument for owning a car built solely for the purpose of driving enjoyment.</string>
		<key>engineSize</key>
		<string>Fa20</string>
	</dict>
</array>
</plist>
