<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>detail</key>
		<string>In prior years, we were disappointed by the Crosstrek&apos;s weak base engine and slow acceleration. But for 2021, there&apos;s a new 2.5-liter four-cylinder engine that ups the power in a big way. Standard on the upper-level Sport and Limited trims, the 2.5-liter engine provides 182 horsepower and significantly increases the Crosstrek&apos;s acceleration and desirability. The 152-horsepower engine is still a sore spot for the plucky Subaru, but buyers who want more power have a seriously appealing option now. So is the 2021 Crosstrek the best SUV for you? Check out our Expert Rating to learn more.</string>
		<key>engineSize</key>
		<string>Fa25</string>
	</dict>
</array>
</plist>
