<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>detail</key>
		<string>The Forester delivers on nearly every area that you&apos;re likely interested in, including rugged capability along with comfort and technology at a good value. Critically for some shoppers, all-wheel drive is standard.

There&apos;s really only one significant downside here: The Forester isn&apos;t all that thrilling to drive. The main culprit is the standard 2.5-liter four-cylinder engine that&apos;s connected to a continuously variable automatic transmission (CVT). It delivers impressive fuel economy but lacks power. Acceleration is sluggish, whether from a stop or pulling ahead of slower cars on the freeway. And unlike a lot of other rival crossovers, a more powerful engine option isn&apos;t available.</string>
		<key>engineSize</key>
		<string>Fa25</string>
	</dict>
</array>
</plist>
