<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>detail</key>
		<string>The Subaru Impreza offers two body styles: sedan and hatchback. Both come standard with all-wheel drive, which could be appealing if you live in a cold-weather region and need the extra traction. Furthering the niche appeal here is the car&apos;s available manual transmission. Few automakers bother to offer one these days, so credit to Subaru for keeping the flame alive for people who enjoy the more tactile feeling of a clutch and manual shifter.</string>
		<key>engineSize</key>
		<string>Fa20</string>
	</dict>
</array>
</plist>
