<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>detail</key>
		<string>It&apos;s a tall order, but the Legacy offers new levels of refinement, an impressive list of standard safety features, and, as always, standard all-wheel drive for extra traction in wet conditions. An all-new interior, including an optional 11.6-inch touchscreen infotainment system, will surely sweeten the deal. Providing motivation is one of two four-cylinder engines. While the base engine lacks a little excitement, the new turbocharged 2.4-liter engine — which replaces the previous six-cylinder — is the clear driver&apos;s choice. It provides strong acceleration and higher fuel economy than the old six-cylinder.</string>
		<key>engineSize</key>
		<string>Fa20 - Fa24t</string>
	</dict>
</array>
</plist>
