<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>detail</key>
		<string>Powering this new Outback are one of two new engines: a 2.5-liter four-cylinder boxer engine and a turbocharged 2.4-liter engine. The turbocharged engine is particularly appealing given its boost in power and fuel economy compared to the Outback&apos;s old non-turbocharged six-cylinder. Both engines come standard with a continuously variable automatic transmission (CVT). Subaru has done a nice job tuning the CVT&apos;s operation to make it imperceptible in most driving.</string>
		<key>engineSize</key>
		<string>Fa25 - fa24t</string>
	</dict>
</array>
</plist>
