<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>detail</key>
		<string>The WRX is showing its age, though, especially inside. While it&apos;s had some small updates over the years, the basic design dates back to the previous-generation Subaru Impreza that debuted nearly a decade ago. As such, the WRX isn&apos;t as refined or fresh as rivals such as the Hyundai Veloster and Honda Civic. It&apos;s loud on the street, too, and not in the way we want a sports car to be. Are these deal-breakers? Check out the categories of our Expert Rating below to help you decide.</string>
		<key>engineSize</key>
		<string>Fa20T</string>
	</dict>
</array>
</plist>
