<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>detail</key>
		<string>For 2020, the WRX adds a few small, fresh details. The STI trim gets a subtle, new front-end look and now comes standard with keyless entry and push-button start. The standard WRX, meanwhile, adds welcome lighting to its feature set. It&apos;s worth noting that an all-new next-generation WRX is expected for the 2021 model year.</string>
		<key>engineSize</key>
		<string>Ej257</string>
	</dict>
</array>
</plist>
